/* CUSTOM STYLE SHEET */


div.vertical-line{
      width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float: left; /* Causes the line to float to left of content. 
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}

about{
	color:darkred;
}
resume{
	color: darkred;
}
portfolio{
	color:darkred;
}
blog{
	color:darkred;
}

footer {
  text-align: center;
  height: 200px; 
}

.vl {
  border-left: 2px solid darkred;
  height: 25px;
  position: absolute;
  left: 51%;
  margin-left: 0px;
  top: 0;
}

.blog-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.blog-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.blog-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.blog-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.blog-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .blog-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .blog-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .blog-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .blog-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .blog-item:hover .caption {
    background-color: rgba(139, 76, 74, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }